body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1045px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* page ===========*/
.page {
    width: 100%;
    height: 100vh;
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 2rem;
    min-height: 770px;
}


/*header============*/

.header {
    background: #2B7DED;
    padding: 1rem 0;
    margin-bottom: 70px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brend {
    font-size: 1.6rem;
    color: #FFFFFF;
    text-transformator: uppercase;
    font-weight: bold;
}
.header-nav-link {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: medium;
    text-decoration: none;
    margin-left: 1rem;
    transition: color 0.2s linear;
}

.header-logo img {
    display: block;
}

.header-nav {
    display: flex;
}

.header-nav-link:hover {
    color: #3a3c3d;
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.content {
    height: 100%;
    width: 100%;
    max-width: 621px;
}

.subtitle {
    font-size: 1.4rem;
    color: #FFFFFF;
    opacity: 0.6;
    font-weight: light;
}

.title {
    font-size: 2rem;
    color: white;
    font-weight: medium;
    line-height: 1.2;
}

.title span {
    color: #2B7DED;

}

.text {
    font-weight: regular;
    font-size: 1rem;
    color: #FFFFFF;
}

.knopka {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #2B7DED;
    text-decoration: none;
    border-radius: 5px;
    padding: 11px 35px;
    text-align: center;
    display: inline-block;
    transition: background 0.2s linear;
    border: 0;
    font-family: inherit;
    cursor: pointer;
    margin-bottom: 0;

    width: 300px;
}

.full {
    display: flex;
    width: 100%;
}

.knopka:hover {
    background-color: #2839d1;
}

.author {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.img {
    margin-right: 0.5rem;
}

.title-contact {
    font-size: 1rem;
    font-weight: regular;
    color: #FFFFFF;
}

.content-header {
    margin-bottom: 35px;
}

.form {
    display: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.input,
.textarea {
    display: flex;
    width: 100%;
    padding: 12px 18px;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    border: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.textarea {
    height: 100px;
    resize: none;
}

.input::placeholder,
.textarea::placeholder {
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}

.footer-link {
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-link:last-child {
    margin-right: 0;
    position: absolute;
}

.footer-link:last-child:after {
    display: flex;
    position: absolute;
    top: 11px;
    left: 100%;
    content: "";
    width: 80px;
    height: 2px;
    background-color: white;
    margin-left: 2rem;
    pointer-events: none;
}
.button {
    display: flex;
    position: absolute;
    font-size: 1rem;
    font-weight: medium;
    background-color: #2B7DED;
    border-radius: 5px;
    padding: 12px 18px;
}

@media (max-width: 1000px) {
    .author {
        display: none;
    }
    .page {
         min-height: 100vh;
         height: auto;
         padding-bottom: 2rem;
    }
    .content {
        max-width: none;
        margin-bottom: 50px;
        text-align: center;
    }
    .form {
        margin: 0 auto;
    }
    .footer-link {
    flex-direction: column;
    }
}

@media (max-width: 600px) {
    .header-logo {
        display: none;
    }
}

@media (max-width: 529px) {
    .header-brend {
        font-size: 1.2rem;
    }
    .content {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-link:last-child:after {
        display: none;
    }
    .header-inner {
        flex-direction: column;
    }
    .header-brend {
        padding-bottom: 1rem;
    }
    .footer-link {
        margin-bottom: 0.5rem;
    }
    .footer {
        position: static;
    }
}

@media (max-width: 385px) {
    .footer-link {
        flex-direction: column;
    }
}

@media (max-width: 330px) {
    .knopka {
        width: 220px;
    }
    .subtitle {
        font-size: 1.2rem;
    }
    .title {
        font-size: 1.6rem;
    }
}